# Database
DATABASE_URL="postgresql://username:password@localhost:5432/mimi_landing"

# Prisma
PRISMA_GENERATE_DATAPROXY="true"

# Email Configuration (Resend)
RESEND_API_KEY="re_xxxxxxxxxx"
EMAIL_FROM="MIMI Landing <noreply@tudominio.com>"
EMAIL_TO="tu@email.com,otro@email.com"

# Google Ads Configuration
NEXT_PUBLIC_GOOGLE_ADS_ID="AW-16869254273"
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_LABEL="MTk0CLP7o-EaEIHJ8es-" 